<% if (!user) { %>

	<h2>Пожалуйста войдите</h2>
    <a href="/auth/vk">Войти с VK</a>

<% } else { %>

	<h2>Привет, <%= user.displayName %>.</h2>

    <p>ID: <%= user.id %></p>
    <p>Username: <%= user.username %></p>
    <p>Name: <%= user.displayName %></p>

    <p>
    <pre>
      <%= JSON.stringify(user, null, 2) %>
    </pre>
    </p>

    <p>
        <a href="/logout">Выйти</a>
    </p>

<% } %>
